.profile{
  width: 200px;
  border-width:2px ;
  border-color: black;
  border: 2px;
  border-style: solid;
  padding-left: 10px;
  box-shadow: 0 0 5px black;
  display: inline-block;
  margin-right: 20px;

}
.profile-picture{
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 12px;
  display: inline-block;
}
.mutuals{

}
.profile-name{
  font-weight: bold;
}
.add-button{
  color: white;
  background: blue;
}